$border-color: #ababab;

main {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.columns {
  display: flex;
  padding: 20px 30px;
}

.column {
  flex: 1;

  .column-header {
    margin-bottom: 15px;
    text-align: center;
  }

  .column-body {
    border-right: 1px solid rgba(#fff, 0.5);
    height: 80%;
    overflow-y: auto;
    padding: 0 20px;
  }

  &:last-child .column-body {
    border-right: none;
  }
}

.card {
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-card {
  margin-right: 5px;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;

  form {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  .add-card {
    margin-left: 5px;
  }
}
